* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    background-color: #adb5bd;
    height: 100%;
    position: relative;
}

/*<editor-fold desc="index page style">*/

.pick-game-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.pick-game-name{
    font-size: 24px;
    font-weight: 500;
    border: none;
    padding: 48px 36px;
    transition: transform 315ms;
    cursor: pointer;
}

.pick-game-name:hover{
    transform: scale(1.09);
}

.pick-game-name-1{
    color: #ffc078;
    background-color: red;
}

.pick-game-name-2{
    color: #c5f6fa;
    background-color: #1c7ed6;
}
/* </editor-fold> */
